@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TASA Orbiter Display";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TASAOrbiterDisplay-Regular.otf");
}

@font-face {
  font-family: "TASA Orbiter Display";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/TASAOrbiterDisplay-Medium.otf");
}

@font-face {
  font-family: "TASA Orbiter Display";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/TASAOrbiterDisplay-SemiBold.otf");
}

@font-face {
  font-family: "TASA Orbiter Display";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/TASAOrbiterDisplay-Bold.otf");
}

body {
  font-family: "TASA Orbiter Display", sans-serif;
}
