@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "commitMono";
  font-style: normal;
  font-weight: 400;
  src: url("https://github.com/winglang/design/blob/main/Assets/winglang/fonts/CommitMono/CommitMono-400-Regular.otf");
}

body {
  font-family: "General Sans", sans-serif;
}
